{% trans_default_domain 'sbsedv_twig' %}

<!DOCTYPE html>
<html dir="ltr" lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8" />

    <title>{{ 'login.title'|trans }} :: {{ parameter('sbsedv.company.name') }}</title>

    {% for stylesheet in parameter('sbsedv_twig.iam_login.stylesheets') %}
        <link type="text/css" rel="stylesheet" href="{{ preload(asset(stylesheet), { as: 'style' }) }}" />
    {% endfor %}
</head>
<body>
    <div class="auth-fluid d-flex justify-content-center" style="--bg-auth-fluid: url('{{ asset(parameter('sbsedv_twig.iam_login.background_url')) }}');">
        <div style="width: 400px;">
            <div class="align-items-center d-flex h-100">
                <div class="card-body bg-white rounded">
                    <div class="text-center">
                        <img class="mb-2" src="{{ parameter('sbsedv.company.branding.logo.href') }}" alt="{{ parameter('sbsedv.company.name') }}" height="35" />

                        <h1>{{ 'login.title'|trans }}</h1>

                        <p class="text-muted">{{ 'login.subtitle'|trans }}</p>
                    </div>

                    <a href="{{ path('sbsedv_iam_oauth2_start') }}" class="btn btn-primary d-block w-100">
                        <i class="fas fa-sign-in-alt me-1"></i>
                        {{ 'login.button'|trans }}
                    </a>

                    <footer class="footer footer-alt">
                        <p class="text-muted">
                            <a href="{{ parameter('sbsedv.company.imprint_uri') }}" class="text-muted">
                                {{ 'footer.imprint_link'|trans }}
                            </a>
                            <span class="mx-3 fw-bold">&copy; {{ 'now'|date('Y') }} {{ parameter('sbsedv.company.name_short') }}</span>
                            <a href="{{ parameter('sbsedv.company.datapolicy_uri') }}" class="text-muted">
                                {{ 'footer.datapolicy_link'|trans }}
                            </a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
